/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Mirror of the app overlay: START arrives on task 16, DONE leaves on event 20 */
/ {
	doorbells {
		compatible = "flpr-spwm-doorbells";
		mboxes = <&cpuflpr_vevif_rx 16>, <&cpuflpr_vevif_tx 20>;
		mbox-names = "rx", "tx";
	};
};

&cpuflpr_vevif_rx {
	status = "okay";
};

&cpuflpr_vevif_tx {
	status = "okay";
};

/* Stock cpuflpr console. Its pins are P0.00-P0.03, which the DK routes to a VCOM. */
&uart30 {
	status = "disabled";
};
