/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Same doorbells as nRF54L15, see nrf54l15dk_nrf54l15_cpuflpr.overlay */
/ {
	doorbells {
		compatible = "flpr-spwm-doorbells";
		mboxes = <&cpuflpr_vevif_rx 16>, <&cpuflpr_vevif_tx 20>;
		mbox-names = "rx", "tx";
	};
};

&cpuflpr_vevif_rx {
	status = "okay";
};

&cpuflpr_vevif_tx {
	status = "okay";
};

&uart30 {
	status = "disabled";
};

/* Legs A/B. VIO0 = P2.01 and VIO1 = P2.02 on nRF54L15 and nRF54LM20. The FLPR hands them to
 * itself with CTRLSEL = VPR before it drives them.
 */
/ {
	zephyr,user {
		leg-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>, <&gpio2 2 GPIO_ACTIVE_HIGH>;
	};
};

/* FLPR code + data keeps the bottom 64 KB of its 96 KB, the top 32 KB is spwm_shm */
&cpuflpr_sram {
	reg = <0x20067c00 DT_SIZE_K(64)>;
	ranges = <0x0 0x20067c00 DT_SIZE_K(64)>;
};

/ {
	soc {
		spwm_shm: memory@20077c00 {
			reg = <0x20077c00 DT_SIZE_K(32)>;
			status = "reserved";
		};
	};
};
